{% extends "base.html" %}

{% block title %}Blood and Platelet Tracker{% endblock %}

{% block content %}
<h1>What Is This?</h1>
<div class="description">
    <p>A simple website that looks at daily blood and platelet levels
        as reported by <a href="https://www.nhsbt.nhs.uk/">NHS Blood &amp; Transplant</a>.</p>

    <p>Source code is at <a href="https://github.com/svenlatham/nhsbt-blood-levels">https://github.com/svenlatham/nhsbt-blood-levels</a>.</p>

    <p>This is a <a href="https://www.svenlatham.com/projects/">project by Sven Latham</a>.</p>
</div>

{% endblock %}

