{% extends "base.html" %}

{% block title %}Blood and Platelet Tracker{% endblock %}

{% block content %}
<h1>What Is This?</h1>
<div class="description">
    <p>A simple website that looks at daily blood and platelet levels
        as reported by <a href="https://www.nhsbt.nhs.uk/">NHS Blood &amp; Transplant</a>.</p>

    <p>Source code is at <a href="https://github.com/svenlatham/nhsbt-blood-levels">https://github.com/svenlatham/nhsbt-blood-levels</a>.</p>

    <p>This is a <a href="https://www.svenlatham.com/projects/">project by Sven Latham</a>.</p>

    <h2>Why?</h2>

    <p>I became interested in blood and platelet levels while signing up as a donor. I have also had close family affected by blood &amp; platelet treatment.
        It fascinated me that stock levels could be so volatile and I began to wonder how the national figures unfolded over time.</p>

    <p>For various reasons the national stock levels can fluctuate, but the crucial factor is ensuring there's at least enough to support those in need. If you
        would like to consider becoming a donor please visit <a href="https://www.nhsbt.nhs.uk/how-you-can-help/donate/">https://www.nhsbt.nhs.uk/how-you-can-help/donate/</a>.</p>

    <p>In the interests of disclosure, my favourite donation biscuit is Orange Club.</p>




</div>

{% endblock %}

